<header>
  <table>
    <tr>
      <td><%= image_tag "facebook.png", class: 'fakebook-logo' %></td>
      <td>
        <div class="fake-search-box">
          <div class="search-sujest">検索</div>
          <div class="search-content"></div>
          <div class="search-img"><%= image_tag "Search.png", class: 'search-png' %></div>
        </div>
      </td>
      <td><%= image_tag "acount-pic.png", size: '25x25', class: 'header-acount-pic' %></td>
      <td>
        <div class="header-menu">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "#{key}") %>
          <% end %>
          <span>
          <% if logged_in? %>
            <%= link_to "#{current_user.name}", user_path(current_user.id) %>
          </span>
          <span class="blue-line"> | </span>
          <span>
            <%= link_to "ホーム", blogs_path %>
          </span>
          <span class="blue-line"> | </span>
          <span>友達を検索</span>
          <span class="blue-line"> | </span>
          <span>作成</span>
          <span class="blue-line"> | </span>
          <span>うに</span>
          <span class="blue-line"> | </span>
          <span>
          <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
          <% else %>
            <%= link_to "登録", new_user_path %>
            <%= link_to "ログイン", new_session_path %>
          <% end %>
          </span>
        </div>
      </td>
    </tr>
  </table>
</header>

<main>
  <div class="main-block">
    <div class="main-block-left">
      <%= image_tag "acount-pic.png", size: '20x20', class: 'left-acount-pic' %>
      <%= link_to "#{current_user.name}", user_path(current_user.id) %><br>
      <br>
      <div class="left-box-focus">
        <%= image_tag "newsfeed.png", size: '20x20' %>
        <span>ニュースフィード</span>
        <%= image_tag "reader.png", size: '20x20', class: 'left-reader' %>
      </div>
      <div class="left-box-unfocus">
        <%= image_tag "messenger.png", size: '20x20' %>
        <span>Messenger</span>
      </div>
      <div class="left-box-unfocus">
        <%= image_tag "watch.png", size: '20x20' %>
        <span>Watch</span>
      </div>
    </div>
    <div class="main-block-center">
      <div class="main-box-new">
        &nbsp;&nbsp;
        <button type="button" class="btn btn-primary">
          <%= link_to '投稿を作成する', new_blog_path %>
        </button>
      </div>
      <% @blogs.each do |blog| %>
      <div class="main-box">
        <table>
          <tr>
            <td><%= image_tag "acount-pic.png", size: '40x40', class: 'box-acount-pic' %></td>
            <td>
            <div class="box-name"><%= blog.user.name %></div>
            <div class="box-time"><%= blog.created_at.try(:strftime,"%m月%d日") %></div>
            </td>
            <td><%= link_to '詳細', blog_path(blog.id) %></td>
            <td><%= link_to "編集", edit_blog_path(blog.id) %></td>
            <td>
              <%= link_to '削除', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
            </td>
          </tr>
        </table>
        <div class="box-content">
        <%= blog.content %>
        </div>
        <% if blog.image.file.nil? %>
          <% else %>
        <div class="box-pic">
          <%= image_tag blog.image.url %>
        </div>
        <% end %>
            
            
      </div>
      <% end %>
    </div>
    <div class="main-block-right">
      <span>おぬぬめグループ</span>
      <div class="recommend-group">
        <%= image_tag "snow.jpg", class: 'recommend-pic' %>
        <table>
          <tr>
            <td>
              <p class="blue-line">雪山をひたすら登る会</p>
              <p class="grey-line">メンバー1,950人</p>
            </td>
            <td>
              <div class="entry_btn">＋グループに参加</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="recommend-group">
        <%= image_tag "yakitori.jpg", class: 'recommend-pic' %>
        <table>
          <tr>
            <td>
              <p class="blue-line">焼き鳥を食べまくるた</p>
              <p class="blue-line">めにわざわざ仕事まで</p>
              <p class="blue-line">休んでしまう人たち</p>
              <p class="grey-line">メンバー8,910人</p>
            </td>
            <td>
              <div class="entry_btn">＋グループに参加</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="recommend-group">
        <%= image_tag "factory.jpg", class: 'recommend-pic' %>
        <table>
          <tr>
            <td>
              <p class="blue-line">工業地帯の夜景をもく</p>
              <p class="blue-line">もく撮影するグループ</p>
              <p class="grey-line">メンバー150人</p>
            </td>
            <td>
              <div class="entry_btn">＋グループに参加</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="recommend-group">
        <%= image_tag "tea.jpg", class: 'recommend-pic' %>
        <table>
          <tr>
            <td>
              <p class="blue-line">紅茶をひたすら飲み隊</p>
              <p class="grey-line">メンバー70人</p>
            </td>
            <td>
              <div class="entry_btn">＋グループに参加</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>